<html>
<head>
<title>Home</title>
  <link href="/media/css/bootstrap.min.css" rel="stylesheet">
  <link href="/media/css/bootstrap.css" rel="stylesheet">
  <link href="/media/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/media/css/responsive.css" rel="stylesheet">
  <link href="/media/css/style.css" rel="stylesheet"></link>
  <link href="/media/css/style.css" rel="stylesheet"></link>
  <script src="/media/js/bootstrap.js"></script>
  <script src="/media/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
  </script>
{% block head %}
{% endblock %} 
</head>
<body>
	<div class="body-container">
		<div class="headerContainer">
 					<nav class="navbar navbar-default cust-nav" role="navigation">
    					<ul class="nav navigation">
    					    <a class="navbar-brand" href="#">Chakravyuha</a>
    						<li class="col-sm-offset-1 col-md-1"><a href="">HOME</a></li>
							<li class="col-md-1"><a href="">PLAY </a></li>
							<li class="col-md-1"><a href=" ">RULES</a></li>
							{% if request.user.is_authenticated %}
                            		<li class="col-sm-1 navbar-right"><a href=" ">{{ request.user.username }}</a></li>
                      		{% else %}	
							        <li class="col-md-1 navbar-right"><a href=" ">Register</a></li>
							{% endif %}
   						</ul>  
					</nav>
		</div>
    </div>
</body>
</html>
{% block content %}
{% endblock %}
</body>
</html>