{% extends 'base.html' %}
{% block content %}
<div class="form">
	<form method="POST" action=".">{% csrf_token %}
	<div class="container">
				 <div class="col-md-2 reg-labels">
				 	<p>{{ form.username.label }}</p>
	     		 	<p>{{ form.email.label }}</p>
	     		 	<p>{{ form.firstName.label }}</p>
	     		 	<p>{{ form.lastName.label }}</p>
	     		 	<p>{{ form.password.label }}</p>
	     		 	<p>{{ form.repassword.label }}</p>
	     		 	<p>{{ form.contact.label }}</p>
				 </div>
	     		 <div class="col-md-2">
	     		 	<p>{{ form.username }}</p>
	     		 	<p>{{ form.email }}</p>
	     		 	<p>{{ form.firstName }}</p>
	     		 	<p>{{ form.lastName }}</p>
	     		 	<p>{{ form.password }}</p>
	     		 	<p>{{ form.repassword}}</p>
	     		 	<p>{{ form.contact }}</p>
	     		 </div>
		 </div>

		<input type="submit" value="submit"/>
	</form>
</div>
{% endblock %}
			
		

<!-- <p><span class="reg-label">Firstname:</span><span class="reg-text" >{{ form.username }}</span></p>
			<p><span class="reg-label">Location:</span><span class="reg-text">{{ form.email }}</span></p>
	     	<p><span class="reg-label">First Name:</span><span class="reg-text">{{ form.firstName }}</span></p>
	     	<p><span class="reg-label">Last Name :</span><span class="reg-text">{{ form.lastName }}</span></p>
	     	<p><span class="reg-label">Password :</span><span class="reg-text">{{ form.password }}</span></p>
	     	<p><span class="reg-label">Repassword :</span><span class="reg-text">{{ form.repassword }}</span></p>
	     	<p><span class="reg-label">Contact :</span class="reg-text">{{ form.contact }}</p>
			<input type="submit" value="submit"/> -->